body
{
    background-color: rgb(220, 220, 220);
}

#main-heading
{
    color: blue;
}

.heading-style

{
    background-color: beige; text-align: center; font-size: 50px;
}

#sec-main-heading
{
   color: blueviolet;
}

.sec-main-heading-style
{
    font-size: 20px; font-style: italic; 
}

.select
{
    font-size: 15px; color: blue; font-style: italic; border-style: groove;
}

.date
{
color: rgb(13, 13, 14); font-size: medium; background-color: rgb(255, 255, 255); 
}

label
{
    color: rgb(10, 10, 10); font-size: 18px;
}

#submit
{
   
    background-color: #42AE0F;  border-radius: 10px; /
    padding: 5px 15px; font-size: larger;  margin-top: 10px;
}

#video
{
    border: 4px solid blue 
}

.text
{
    font-size: x-large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

textarea
{
    border-radius: 10px; background-color: #ddf3d3;
    padding: 5px 15px; font-size: larger; 
}

.fruits
{
   border-radius: 7px; background-color: rgb(241, 245, 245); color: rgb(12, 27, 228); margin-top: 10px;
}

#first-name
{
    margin-top: 1px; margin-bottom: 1px;
}

#last-name
{
    margin-top: 6px; margin-bottom: 6px;
}

.passengers
{
    margin-top: 3px; margin-bottom: 3px;
}

