 body
 {
  background-color: rgb(235, 235, 243);
 }

 #main-heading
 {
  color: darkslategrey;
 }

 .heading-style
 {
  background-color: rgb(148, 170, 170); text-align: center;
 }
 p
 {
  text-shadow: gold; color: dimgray; text-align-last: left;
 }



 h2
 {
  color: rgb(53, 116, 116);
 }

 td
 {

  border: 10px solid black;
 }